@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'New York';
  font-weight: 400;
  src: url(./fonts/NewYorkExtraLarge-Regular.otf) format('otf');
}

@font-face {
  font-family: 'New York';
  font-weight: 500;
  src: url(./fonts/NewYorkExtraLarge-Medium.otf) format('otf');
}

@font-face {
  font-family: 'New York';
  font-weight: 600;
  src: url(./fonts/NewYorkExtraLarge-Semibold.otf) format('otf');
}

@font-face {
  font-family: 'New York';
  font-weight: 700;
  src: url(./fonts/NewYorkExtraLarge-Bold.otf) format('otf');
}

@font-face {
  font-family: 'New York';
  font-weight: 900;
  src: url(./fonts/NewYorkExtraLarge-Black.otf) format('otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
